
<nav class="navbar navbar-expand-lg navbar-light bg-The-explorer-1-hex">
  <a class="navbar-brand" href="#"><img src="../../../assets/acme-logo.png" alt="logo" width="60" height="35" class="d-inline-block align-top"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'trip.trip' | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Trip List</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">New Trip</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="{{'header.search' | translate}}">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">{{'header.search' | translate}}</button>
    </form>
    <ul class="navbar-nav my-2 ml-2">
      <li class="nav-item active">
        <button (click)="changeLanguage('en')" class="btn btn-primary mr-1">EN</button>
        <button (click)="changeLanguage('es')" class="btn btn-primary mr-1">SP</button>
      </li>
      <li class="nav-item" *ngIf="this.actor === null">
        <a class="nav-link" routerLink="/register">{{'actor.register' | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="this.actor === null">
        <a class="nav-link" routerLink="/login">{{'security.login' | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="this.actor !== null">
        <a class="nav-link" routerLink="/profile/edit">{{this.name}}</a>
      </li>
      <li class="nav-item" *ngIf="this.actor !== null">
        <a class="nav-link" (click)="onLogout()" href="/logout">{{'security.logout' | translate}}</a>
      </li>
    </ul>
  </div>
</nav>

