.divisor-vertical {
    border-left: 0.1em solid rgba(0,0,0,0.12); 
    margin-top: 10px;
    margin-bottom: 10px;
}

.divisor-vertical-logo {
    border-left: 0.1em solid rgba(0,0,0,0.12); 
    margin-left: 0.5em;
    margin-right: 0.25em;
}

.pointer {
    cursor: pointer;
}

.logo-header {
    width: 63px;
    height: 100%;
}