.list-group-item > p {
    color: #03658C;
    font-size: 1rem;
}

.list-group-item > p > .title-name {
    color: #024059;
    font-weight: bold;
}

@media (min-width: 34rem) {
    .card-deck > .card {
        width: 30%;
        flex-wrap: wrap;
        flex: initial;
    }
}

summary::-webkit-details-marker {
    display: none;
}