.completo {
    white-space: nowrap;
}

.btn-application {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    color: #fff !important;
}

.back-false {
    background-color: rgb(248, 105, 105);
}

.back-true {
    background-color: rgb(71, 253, 101);
}