<div class="card my-4">
  <div class="card-header">
    <h3 class="card-title">{{'trip.trips.list' | translate}}</h3>
  </div>
</div>

<div *ngIf="data != undefined && data.length > 0" class="card-deck">
  <div *ngFor="let trip of data" class="card mb-3 mx-auto"
    infiniteScroll [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
    <img
    class="card-img-top mx-auto" style="height: 13rem; display: block;"
    src="{{getFirstPicture(trip)}}" alt="{{trip.title}}">
    <div class="card-header">
      <h4 class="card-title">{{trip.title}}</h4>
    </div>
    <div class="card-body">
      <details>
        <summary ng-hide="advstatus">
          {{trip.description | slice:0:50}}
          <span class="badge badge-light" ng-click="advstatus=true">(...)</span>
        </summary>
        <p class="card-text text-muted">{{trip.description}}</p>
      </details>
    </div>

    <div class="card-footer">
      <a *ngIf="this.authService.checkRole('admin')"
        routerLink="/trips/{{trip.ticker}}"
        class="btn btn-primary pull-left">
        <span class="fa fa-pencil" aria-hidden="true"></span>
        {{'trip.edit' | translate}}
      </a>
      <a *ngIf="!this.authService.checkRole('admin')"
        routerLink="/trips/display/{{trip.ticker}}"
        class="btn btn-primary pull-left">
        <span class="fa fa-search-plus" aria-hidden="true"></span>
        {{'trip.details' | translate}}
      </a>
    </div>
  </div>
</div>
