
<footer class="footer-distributed page-footer fixed-bottom font-small The-explorer-1-hex blue pt-4 pb-3 bg-The-explorer-5-hex">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h3>Acme<span>Explorer</span></h3>
        <p class="footer-links">
          <a href="/terms-and-conditions">{{'footer.terms' | translate}}</a>
        </p>
        <p class="footer-company-name">
          Acme-Explorer &copy; {{today | date}}
        </p>
        <span class="text-muted">
          <b> {{'footer.visitors' | translate }}:</b> {{numClients | number}}
        </span>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->

        <ul class="list-unstyled">
          <li>
            <i class="fa fa-4 fa-map-marker "></i>&nbsp;123 False Street. City, Country
          </li>
          <li>
            <i class="fa fa-4 fa-phone"></i>&nbsp; +1 234 1231245
          </li>
          <li>
            <i class="fa fa-envelope"></i>&nbsp;<a href="mailto:support@acme-explorer.com">support@acme-explorer.com</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">{{'footer.about' | translate}}</h5>

        <p class="font-weight-light">
          Mollit irure et non ullamco. Dolor irure ullamco anim voluptate reprehenderit dolore sit in sunt in cupidatat eiusmod in. Voluptate deserunt dolore dolor fugiat enim. Aliquip incididunt aute sit aliqua sit qui ad irure sint. Incididunt proident velit laboris anim aliqua excepteur ipsum.
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->