<!--The content below is only a placeholder and can be replaced.-->
<html>
    <head>
        <title>Acme-Explorer</title>
    </head>
    <body>
        <app-header></app-header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </body>
</html>
<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<!-- <app-trip-display></app-trip-display> -->