<div class="card my-4">
  <div class="card-header">
    <h3 class="card-title">{{'application.appli.applis' | translate}}</h3>
  </div>
</div>

<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
  <thead>
  <tr>
      <th>
          <mfDefaultSorter by="_id">ID</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="createdAt">{{'application.dt.createdAt' | translate}}</mfDefaultSorter>
      </th>
      <th>
          <mfDefaultSorter by="status">{{'application.dt.status' | translate}}</mfDefaultSorter>
      </th>
      <th>
          <mfDefaultSorter by="comment">{{'application.dt.comment' | translate}}</mfDefaultSorter>
      </th>
      <th>
          <mfDefaultSorter by="reasonCancel">{{'application.dt.reasonCancel' | translate}}</mfDefaultSorter>
      </th>
      
      <th>
          <mfDefaultSorter by="trip">{{'application.dt.trip' | translate}}</mfDefaultSorter>
      </th>

      <!-- <th>
        <mfDefaultSorter by="explorer">Explorer</mfDefaultSorter>
      </th>
 -->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of mf.data">
      <td>{{item._id}}</td>
      <td>{{item.createdAt | date:'mm/dd/yyyy h:mm a' }}</td>
      <td>{{item.status}}</td>
      <td>{{item.comment}}</td>
      <td>{{item.reasonCancel}}</td>
      
      <td><!-- {{item.trip}} -->
        <a *ngIf="!this.authService.checkRole('ADMINISTRATOR')"            
            [routerLink]="['/trips/display/' + item.trip, {'paramKey': 'application'}]"
            class="btn btn-primary pull-left">
            <span class="fa fa-search-plus" aria-hidden="true"></span>
            {{'trip.details' | translate}}
        </a>
      </td>

      <!-- <td>{{item.explorer}}</td> -->

  </tr>
  </tbody>
  <tfoot>
  <tr>
      <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
      </td>
  </tr>
  </tfoot>
</table>