<div class="card my-4">
  <div class="card-header">
    <h3 class="card-title">{{'application.appli.applis' | translate}}</h3>

    <!-- boton atras -->
    <button (click)="goBack()" class="btn btn-primary" style="float: right; margin-right: 1em; margin-top: -40px;">
        {{'messages.back' | translate}}
    </button>
    
  </div>
</div>

<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" >
  <thead>
    <tr>
        <th>
            <mfDefaultSorter by="_id">ID</mfDefaultSorter>
        </th>

        <th *ngIf="this.authService.checkRole('MANAGER')">
            <mfDefaultSorter by="explorer">Explorer</mfDefaultSorter>
        </th>
            
        <th *ngIf="this.authService.checkRole('EXPLORER')" >
            <mfDefaultSorter by="_id">{{'application.dt.title' | translate}}</mfDefaultSorter>
        </th>

        <th>
            <mfDefaultSorter by="_id">{{'application.dt.ticker' | translate}}</mfDefaultSorter>
        </th>

        <th *ngIf="this.authService.checkRole('EXPLORER')" >
            <mfDefaultSorter by="_id">{{'application.dt.start_date' | translate}}</mfDefaultSorter>
        </th>

        <th *ngIf="this.authService.checkRole('EXPLORER')" >
            <mfDefaultSorter by="_id">{{'application.dt.end_date' | translate}}</mfDefaultSorter>
        </th>

        <th *ngIf="this.authService.checkRole('EXPLORER')" >
            <mfDefaultSorter by="_id">{{'application.dt.price' | translate}}</mfDefaultSorter>
        </th>
        
        <th>
            <mfDefaultSorter by="status">{{'application.dt.status' | translate}}</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="comment">{{'application.dt.comment' | translate}}</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="reasonCancel">{{'application.dt.reasonCancel' | translate}}</mfDefaultSorter>
        </th>
        
        <!-- boton detalle viaje -->
        <!-- <th>
            <mfDefaultSorter by="trip">{{'application.dt.trip' | translate}}</mfDefaultSorter>
        </th> -->

        <th>
            <mfDefaultSorter by="createdAt">{{'application.dt.createdAt' | translate}}</mfDefaultSorter>
        </th>

        <!-- boton explorer PAGAR PAYPAL -->
        <th *ngIf="this.authService.checkRole('EXPLORER')">            
            {{'application.dt.pay' | translate}}
        </th>

        <!-- boton manager PENDING to DUE -->
        <th *ngIf="this.authService.checkRole('MANAGER')">
            {{'application.dt.due' | translate}}
        </th>

        <!-- boton manager CANCEL -->
        <th>
            {{'application.dt.cancel' | translate}}
        </th>    
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of mf.data">

        <td class="completo">
            <!-- boton editar -->
            <a  *ngIf="this.authService.checkRole('MANAGER') || this.authService.checkRole('EXPLORER')"       
                [routerLink]="['/trips-applies/display/' + item._id, {'paramKey': 'editar'}]"
                title="{{'application.dt.edit' | translate}} - {{ item._id  | slice:-5 }} ">
                <span class="fa fa-edit" aria-hidden="true"></span>
                {{ item._id  | slice:-5 }}            
            </a>
        </td>    

        <td *ngIf="this.authService.checkRole('MANAGER')" title="{{item.explorer}}">{{item.explorer  | slice:-5 }}</td>

        <td *ngIf="item.tripObj !== undefined && this.authService.checkRole('EXPLORER')" class="completo" >{{item.tripObj.title}}</td> 
        
        
        <td *ngIf="item.tripObj !== undefined" class="completo" >
            <a  [routerLink]="['/trips/display/' + item.trip, {'paramKey': 'application'}]">
                {{item.tripObj.ticker}}
            </a>
        </td>  

        <td title="{{item.tripObj.startDate | date:'dd/MM/yyyy h:mm a' }}" 
            *ngIf="item.tripObj !== undefined && this.authService.checkRole('EXPLORER')" 
            class="completo" >
                {{item.tripObj.startDate | date:'dd/MM/yyyy' }}
        </td>  
        <td title="{{item.tripObj.endDate | date:'dd/MM/yyyy h:mm a' }}"
            *ngIf="item.tripObj !== undefined && this.authService.checkRole('EXPLORER')" 
            class="completo">
                {{item.tripObj.endDate | date:'dd/MM/yyyy' }}
        </td>  

        <td *ngIf="item.tripObj !== undefined && this.authService.checkRole('EXPLORER')" >{{item.tripObj.price}}</td>

        <td class="completo">{{item.status}}</td>

        <td>{{item.comment}}</td>
        <td>{{item.reasonCancel}}</td>
        
        <!-- boton DETALLE de viaje -->
        <!-- <td *ngIf="!this.authService.checkRole('ADMINISTRATOR')">            
            <a             
                [routerLink]="['/trips/display/' + item.trip, {'paramKey': 'application'}]"
                class="btn btn-primary">
                <span class="fa fa-search-plus" aria-hidden="true"></span>
                {{'application.dt.details' | translate}}
            </a>
        </td> -->

        <td title="{{item.createdAt | date:'dd/MM/yyyy h:mm a' }}" class="completo">{{item.createdAt | date:'dd/MM/yyyy' }}</td>

        <!-- boton PAGAR PAYPAL -->
        <td *ngIf="this.authService.checkRole('EXPLORER')">
            <a  *ngIf="item.status === 'DUE'"           
                [routerLink]="['/trips/display/' + item.trip, {'paramKey': 'application'}]"
                class="btn btn-primary btn-application">
                <span class="fa fa-paypal  " aria-hidden="true"></span>
                <!-- {{'application.dt.pay' | translate}} -->
            </a>
        </td>

        <!-- boton PENDING TO DUE -->
        <td *ngIf="this.authService.checkRole('MANAGER')">
            <a *ngIf="item.status === 'PENDING'"           
                (click)="updateApplyToDue(item._id)"
                class="btn btn-primary btn-application">
                <!-- <span class="fa fa-edit" aria-hidden="true"></span> -->
                {{'application.dt.due' | translate}}
            </a>
        </td>

        <!-- boton CANCELAR VIAJE MANAGER / EXPLORER -->
        <td>
            <a  *ngIf="(this.authService.checkRole('MANAGER') && item.status === 'PENDING') ||
                        (this.authService.checkRole('EXPLORER') && item.status === 'ACCEPTED')"       
                [routerLink]="['/trips-applies/display/' + item._id, {'paramKey': 'cancelar'}]"
                class="btn btn-primary btn-application">
                <!-- <span class="fa fa-edit" aria-hidden="true"></span> -->
                {{'application.dt.cancel' | translate}}
            </a>
        </td>  

    </tr>

  </tbody>

  <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
  </tfoot>
</table>