<div class="container" style="margin-top: 1em;">
  <form class="form-horizontal" [formGroup]="registrationForm" (ngSubmit)="onRegister()">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <h2>{{'actor.register.title' | translate}}</h2>
              <hr>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3 field-label-responsive">
              <label for="role">{{'actor.role' | translate}}</label>
          </div>

          <div class="col-md-6">
              <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                      <input *ngIf="!admin" type="text" name="role" class="form-control" id="role" formControlName="role"
                      value="EXPLORER" required readonly>
                      <select *ngIf="admin" id="role" class="form-control" formControlName="role" readonly>
                        <option *ngFor="let role of roleList" [value]="role">
                          {{ role }}
                        </option>
                      </select>
                  </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="form-control-feedback">
                    <div class="text-danger align-middle" *ngIf="registrationForm.get('role').errors && registrationForm.get('role').touched && registrationForm.get('role').errors.required">
                        {{'errorMessages.validation.required' | translate}}
                    </div>
              </div>
          </div>
      </div>

      <!-- email -->
      <div class="row">
          <div class="col-md-3 field-label-responsive">
              <label for="email">{{'actor.email' | translate}}</label>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                      <input type="text" name="email" class="form-control" id="email" formControlName="email"
                             placeholder="you@example.com" required autofocus>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-control-feedback">
                <div class="text-danger align-middle" *ngIf="registrationForm.get('email').errors && registrationForm.get('email').touched && registrationForm.get('email').errors.pattern">
                    {{'errorMessages.auth.invalid.email' | translate}}
                </div>
              </div>
          </div>
      </div>

      <!-- password -->
      <div class="row">
          <div class="col-md-3 field-label-responsive">
              <label for="password">{{'actor.password' | translate}}</label>
          </div>
          <div class="col-md-6">
              <div class="form-group has-danger">
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                      <input type="password" name="password" class="form-control" id="password" formControlName="password"
                             placeholder="{{'actor.password' | translate}}" required>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-control-feedback">
                <div class="text-danger align-middle" *ngIf="registrationForm.get('password').errors && registrationForm.get('password').touched && registrationForm.get('password').errors.required">
                    {{'errorMessages.validation.required' | translate}}
                </div>
              </div>
          </div>
      </div>
      
      <!-- name -->
      <div class="row">
        <div class="col-md-3 field-label-responsive">
            <label for="name">{{'actor.name' | translate}}</label>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                    <input type="text" name="name" class="form-control" id="name" formControlName="name"
                           placeholder="{{'actor.namePh' | translate}}" required autofocus>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-control-feedback">
                <div class="text-danger align-middle" *ngIf="registrationForm.get('name').errors && registrationForm.get('name').touched && registrationForm.get('name').errors.required">
                    {{'errorMessages.validation.required' | translate}}
                </div>
            </div>
        </div>
    </div>

    <!-- surname -->
    <div class="row">
      <div class="col-md-3 field-label-responsive">
          <label for="surname">{{'actor.surname' | translate}}</label>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                  <input type="text" name="surname" class="form-control" id="surname" formControlName="surname"
                         placeholder="{{'actor.surnamePh' | translate}}" required autofocus>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-control-feedback">
                <div class="text-danger align-middle" *ngIf="registrationForm.get('surname').errors && registrationForm.get('surname').touched && registrationForm.get('surname').errors.required">
                    {{'errorMessages.validation.required' | translate}}
                </div>
          </div>
      </div>
    </div>

    <!-- address -->
    <div class="row">
      <div class="col-md-3 field-label-responsive">
          <label for="address">{{'actor.address' | translate}}</label>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-address-book-o"></i></div>
                  <input type="text" name="address" class="form-control" id="address" #address formControlName="address"
                         placeholder="{{'actor.addressPh' | translate}}" required autofocus>
              </div>
              <div class="my-2">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" 
              [disableDefaultUI]="false" [zoomControl]="false"
              (mapClick)="mapClicked($event)">
                <agm-marker *ngFor="let m of markers; let i = index"
                    [latitude]="m.lat" [longitude]="m.lng"
                    [label]="m.label" [markerDraggable]="m.draggable">

                </agm-marker>
            
                </agm-map>
              </div>
              
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-control-feedback">
                <div class="text-danger align-middle" *ngIf="registrationForm.get('address').errors && registrationForm.get('address').touched && registrationForm.get('address').errors.maxlength">
                    {{'errorMessages.validation.maxlength' | translate}}
                </div>
          </div>
      </div>
    </div>

    <!-- phone -->
    <div class="row">
      <div class="col-md-3 field-label-responsive">
          <label for="phone">{{'actor.phone' | translate}}</label>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                  <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-phone"></i></div>
                  <input type="text" name="phone" class="form-control" id="phone" formControlName="phone"
                         placeholder="{{'actor.phonePh' | translate}}" autofocus>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-control-feedback">
                  <span class="text-danger align-middle">
                      <!-- Put e-mail validation error messages here -->
                  </span>
          </div>
      </div>
    </div>


      <!-- button register -->
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> {{'actor.register' | translate}}</button>
          </div>
      </div>

      <!-- already register -> login -->
      <div class="row" style="margin-top: 0.5em;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>{{'security.alreadyRegistered' | translate}}
            <a href="/login">{{'security.login' | translate}}</a>
          </p>
        </div>        
      </div>

  </form>
</div>

