<br/>
<br/>

<div class="card mb-3">
  
  <div>
    <h3 class="card-header The-explorer-2-hex">{{'trip.details' | translate}}</h3>    
    
    <!-- boton atras -->
    <button (click)="goBack()" class="btn btn-primary" style="float: right; margin-right: 1em; margin-top: -48px;">
      {{'messages.back' | translate}}
    </button>
  </div>
  

  <!-- boton trips applications -->
  <div class="card-body" *ngIf="this.authService.checkRole('MANAGER')">

    <a            
      [routerLink]="['/trips-applies/trip/' + trip._id, {'paramKey': 'manager'}]"
      class="btn btn-primary btn-application">
      {{'application.appli.see.trip' | translate}}
    </a>

  </div>

  <div class="card-body">
    <h5 class="card-title The-explorer-4-hex">{{'trip.ticker' | translate}}</h5>
    <h6 class="card-subtitle text-muted">{{trip.ticker}}</h6>
  </div>

  <div class="card-body">
    <h5 class="card-title The-explorer-4-hex">{{'trip.title' | translate}}</h5>
    <h6 class="card-subtitle text-muted">{{trip.title}}</h6>
  </div>

  <div class="card-body">
    <h5 class="card-title The-explorer-4-hex">{{'trip.price' | translate}}</h5>
    <h6 class="card-subtitle text-muted">{{trip.price}}&euro;</h6>
  </div>

  <div class="card-body">
    <h5 class="card-title The-explorer-4-hex">{{'trip.description' | translate}}</h5>
    <h6 class="card-subtitle text-muted">{{trip.description}}</h6>
  </div>
  

  <div class="card-body">
    <div class="row text-center">
      <div class="col-md-6">
        <p class="The-explorer-3-hex mx-4 card">
          <span class="card-body">
            <i class="fa fa-calendar mr-2"></i>{{'trip.startDate' | translate}}:&nbsp;{{trip.startDate | localizedData}}
          </span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="The-explorer-3-hex mx-4 card">
          <span class="card-body">
            <i class="fa fa-calendar mr-2"></i>{{'trip.endDate' | translate}}:&nbsp;{{trip.endDate | localizedData}}
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div id="carouselExampleControls" *ngIf="this.pictures.length > 0" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let picture of this.pictures; let i = index" class="carousel-item {{(i==0)? 'active':''}}">
          <img class="d-block " src="{{getPicture(i)}}" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <img *ngIf="pictures.length === 0"
    class="card-img-top img-fluid" style="width: 200px; display: block;"
    src="https://i.ya-webdesign.com/images/image-not-available-png-3.png" alt="{{trip.title}}">
  </div>

  <!-- etapas stages -->
  <div class="card-body">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{'trip.stages' | translate}}
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group list-group-flash">
              <li class="list-group-item" *ngFor="let stage of this.trip.stages; let i = index">
                
                <div id="accordionTwo">
                  <div class="">
                    <div class="" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                          {{stage.title}}
                        </button>
                      </h5>
                    </div>
                
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionTwo">
                      <div class="card-body">       
                            <p class="text-muted">{{stage.description}}</p>
                            <h6 class="The-explorer-2-hex">{{'trip.price' | translate}}: <span class="ml-1">{{stage.price}}&euro;</span></h6>
                      </div>
                    </div>
                  </div>
                </div>
                
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- requisitos -->
  <div class="card-body">
    <div id="accordionThree">
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              {{'trip.requeriments' | translate}}
            </button>
          </h5>
        </div>
    
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionThree">
          <div class="card-body">
            <ul class="list-group list-group-flash">
              <li class="list-group-item" *ngFor="let requeriment of this.trip.requeriments; let i = index">
                <p>{{requeriment}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- auditorias -->
  <div class="card-body">
    <div id="accordionAudit">
      <div class="card">
        <div class="card-header" id="headingAudit">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAudit" aria-expanded="false" aria-controls="collapseAudit">
              {{'audits.audit.audits' | translate}}
            </button>
          </h5>
        </div>
    
        <div id="collapseAudit" class="collapse" aria-labelledby="headingAudit" data-parent="#accordionAudit">
          <div class="card-body">
            
            <!-- si no hay audit muestrmensaje -->
            <div *ngIf="trip.auditObj === undefined">
                <p>{{'audits.audit.no.audits' | translate}}</p>
            </div>

            <!-- si hay audit muestra tabla con 2 columnas -->
            <div *ngIf="trip.auditObj !== undefined">
              <!-- table audits -->
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td class="first-column-audit">{{'audits.audit.title' | translate}}</td>
                    <td *ngIf="trip.auditObj !== undefined">{{trip.auditObj.title}}</td>
                  </tr>
                  <tr>
                    <td class="first-column-audit">{{'audits.audit.description' | translate}}</td>
                    <td *ngIf="trip.auditObj !== undefined">{{trip.auditObj.description}}</td>
                  </tr>
                  <tr>
                    <td class="first-column-audit">{{'audits.audit.atachment' | translate}}</td>
                    <td *ngIf="trip.auditObj !== undefined">{{trip.auditObj.atachment}}</td>
                  </tr>
                  <tr>
                    <td class="first-column-audit">{{'audits.audit.createdAt' | translate}}</td>
                    <td *ngIf="trip.auditObj !== undefined">{{trip.auditObj.createdAt | date:'dd/MM/yyyy h:mm a' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- boton nuevo audit -->
            <a *ngIf="this.authService.checkRole('AUDITOR') && trip.auditObj === undefined"           
              [routerLink]="['/audit/new/']"
              class="btn btn-primary btn-application">
              <span class="fa fa-plus-square-o" aria-hidden="true"></span>
              {{'audits.audit.new' | translate}}
            </a>
            
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br/>

<!-- boton solicitar -->
<div class="btn-apply" *ngIf="this.authService.checkRole('EXPLORER')">
  <button (click)="onApply(trip._id)" class="btn btn-primary">
    {{'application.appli.apply' | translate}}
  </button>
</div>


<br/>


