
<div class="container">
  <h1 class="The-explorer-2-hex">{{trip.title}}</h1>
  <h3 class="The-explorer-4-hex">{{trip.ticker}}</h3>
  <p class="The-explorer-5-hex font-weight-light">{{trip.description}}</p>

  <div class="row text-center">
    <div class="col-md-6">
      <p class="The-explorer-3-hex mx-4 card">
        <span class="card-body">
          <i class="fa fa-calendar mr-2"></i>Start Date:&nbsp;{{trip.startDate | date}}
        </span>
      </p>
    </div>
    <div class="col-md-6">
      <p class="The-explorer-3-hex mx-4 card">
        <span class="card-body">
          <i class="fa fa-calendar mr-2"></i>End Date:&nbsp;{{trip.endDate | date}}
        </span>
      </p>
    </div>
  </div>
  
  <h4 class="The-explorer-4-hex">Requeriments</h4>
  <ul class="list-group list-group-flash">
    <li class="list-group-item" *ngFor="let requeriment of getRequeriments(); let i = index">
      <p>{{requeriment}}</p>
    </li>
  </ul>
  
  <img [src]="getImageSrc(trip.pictures[0])" />
</div>
