<br/>
<br/>

<div class="card mb-3">
  
  <div>
    <h3 class="card-header The-explorer-2-hex">{{'trip.details' | translate}}</h3>
    <button (click)="goBack()" class="btn btn-primary" style="float: right; margin-right: 1em; margin-top: -48px;">
      {{'messages.back' | translate}}
    </button>
  </div>
  

  <div class="card-body">
    <h5 class="card-title The-explorer-4-hex">{{'trip.ticker' | translate}}</h5>
    <h6 class="card-subtitle text-muted">{{trip.ticker}}</h6>
  </div>

  <div class="card-body">
    <h5 class="card-title The-explorer-4-hex">{{'trip.title' | translate}}</h5>
    <h6 class="card-subtitle text-muted">{{trip.title}}</h6>
  </div>

  <div class="card-body">
    <h5 class="card-title The-explorer-4-hex">{{'trip.description' | translate}}</h5>
    <h6 class="card-subtitle text-muted">{{trip.description}}</h6>
  </div>

  <div class="card-body">
    <div class="row text-center">
      <div class="col-md-6">
        <p class="The-explorer-3-hex mx-4 card">
          <span class="card-body">
            <i class="fa fa-calendar mr-2"></i>{{'trip.startDate' | translate}}:&nbsp;{{trip.startDate | localizedData}}
          </span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="The-explorer-3-hex mx-4 card">
          <span class="card-body">
            <i class="fa fa-calendar mr-2"></i>{{'trip.endDate' | translate}}:&nbsp;{{trip.endDate | localizedData}}
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div id="carouselExampleControls" *ngIf="this.pictures.length > 0" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let picture of this.pictures; let i = index" class="carousel-item {{(i==0)? 'active':''}}">
          <img class="d-block " src="{{getPicture(i)}}" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <img *ngIf="pictures.length === 0"
    class="card-img-top img-fluid" style="width: 200px; display: block;"
    src="https://i.ya-webdesign.com/images/image-not-available-png-3.png" alt="{{trip.title}}">
  </div>

  <div class="card-body">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              {{'trip.requeriments' | translate}}
            </button>
          </h5>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group list-group-flash">
              <li class="list-group-item" *ngFor="let requeriment of this.trip.requeriments; let i = index">
                <p>{{requeriment}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

<div class="btn-apply">
  <button (click)="onApply(trip._id)" class="btn btn-primary">
    {{'application.appli.apply' | translate}}
  </button>
</div>


<br/>


