/* You can add global styles to this file, and also import other style files */
.The-explorer-1-hex { color: #F0F0F2; }
.The-explorer-2-hex { color: #03658C; }
.The-explorer-3-hex { color: #024059; }
.The-explorer-4-hex { color: #025E73; }
.The-explorer-5-hex { color: #0D0D0D; }
