<div class="card my-4">
  <div class="card-header">
    <h3 class="card-title">{{'paypal.title' | translate}}</h3>

    <!-- boton atras -->
    <button (click)="goBack()" class="btn btn-danger" style="float: right; margin-right: 1em; margin-top: -40px;">
        {{'messages.back' | translate}}
    </button>
    
  </div>
</div>


<div class="container">
  <div class="row" style="height: 300px;">
    <div class="col-sm-4 align-self-center"></div>
    <div class="col-sm-4 align-self-center">
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
    <div class="col-sm-4 align-self-center"></div>
  </div>
</div>


